.theme[data-v-aeeca1e2] {
    background-color: #4872a3
}

.test[data-v-5aea4c72] {
    position: absolute;
    bottom: 0
}

.button-theme[data-v-983aa20a] {
    margin: 8px 0 0 5%;
    width: 90%
}

.color-theme[data-v-983aa20a] {
    background-color: #e5ebf1;
    color: #55677d
}

.text-theme[data-v-983aa20a] {
    color: #656565
}